html {
  height: 100%;
  font-size: 16px;

  @include tablets {
    font-size: 15px;
  }

  @include phone {
    font-size: 14px;
  }
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: none;
}

.section {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.maincontent {
  height: 100%;
  transition: transform .5s;
}

.container {
  max-width: 58.75rem;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablets {
    width: 100%;
  }
}

ul {
  margin: 0;
  padding: 0;
}

ul>li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}