@import './../blocks/header.scss';
@import './../blocks/sidebar.scss';
@import './../blocks/block-one.scss';
@import './../blocks/block-two.scss';
@import './../blocks/block-three.scss';
@import './../blocks/fixed-menu.scss';



@import './../layout/layout.scss';
@import './normalize.scss';

@font-face {
   font-family: ubuntu-regular;
   src: url(./../../fonts/Ubuntu-Regular.woff);
   font-weight: normal;
   font-size: normal;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@font-face {
   font-family: gagalin-regular;
   src: url(./../../fonts/Gagalin-Regular.woff);
   font-weight: normal;
   font-size: normal;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@font-face {
   font-family: lifehack;
   src: url(./../../fonts/Lifehack-Medium.woff);
   font-weight: normal;
   font-size: normal;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@font-face {
   font-family: ubuntu-bold;
   src: url(./../../fonts/Ubuntu-B.woff);
   font-weight: normal;
   font-size: normal;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@font-face {
   font-family: ubuntu-light;
   src: url(./../../fonts/Ubuntu-Light.woff);
   font-weight: normal;
   font-size: normal;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@font-face {
   font-family: ubuntu-medium;
   src: url(./../../fonts/Ubuntu-Medium.woff);
   font-weight: normal;
   font-size: normal;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}