.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
  padding: .75rem 0 0 0; }
  @media screen and (max-width: 768px) {
    .header {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.header__logo {
  width: 5.75rem;
  height: 4.31rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.nav {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.nav__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  margin-right: .94rem; }
  @media screen and (max-width: 768px) {
    .nav__list {
      display: none; } }

.nav__item {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: .81rem;
  font-family: ubuntu-regular;
  margin-right: 0rem;
  text-transform: uppercase;
  cursor: pointer; }
  .nav__item:last-child {
    margin-right: 0rem; }

.nav__item:after {
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: .31rem;
  width: .31rem;
  border-radius: 50%;
  background-color: #fff;
  margin: auto .94rem; }

.nav__item:last-child:after {
  content: '';
  display: none; }

.nav__link {
  font-size: .81rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none; }

.nav__section-button {
  background: #e45028;
  border-radius: .38rem;
  border-style: none;
  color: #fff;
  padding: .63rem 1.06rem;
  text-transform: uppercase;
  font-size: .81rem;
  font-family: ubuntu-regular; }

.section--block {
  background: url(../../img/bg_texture.png) center center no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; }

.block1__leftside {
  margin-right: .81rem; }
  @media screen and (max-width: 768px) {
    .block1__leftside {
      padding: 0 0%;
      margin: 0 0; } }

.block1__leftside-burger {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  @media screen and (max-width: 768px) {
    .block1__leftside-burger {
      max-width: 100%; } }

.content-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .content-block {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 20%; } }

.block1__rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 7.81rem;
  padding-left: 0rem; }
  @media screen and (max-width: 768px) {
    .block1__rightside {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 0; } }

.block1__rightside-title {
  color: #f9b43b;
  font-family: gagalin-regular;
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: -0.03rem;
  margin-bottom: 1.43rem; }
  @media screen and (max-width: 768px) {
    .block1__rightside-title {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      font-size: 4rem;
      margin: 0 0; } }
  @media screen and (max-width: 480px) {
    .block1__rightside-title {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      font-size: 3rem;
      margin: 0 0; } }

.block1__rightside-text {
  color: #fff;
  font-size: 4.06rem;
  font-family: lifehack;
  letter-spacing: -.1rem;
  line-height: 90%;
  padding-top: 0.31rem; }
  @media screen and (max-width: 768px) {
    .block1__rightside-text {
      text-align: center;
      padding: 0 10%;
      font-size: 4rem; } }
  @media screen and (max-width: 480px) {
    .block1__rightside-text {
      text-align: center;
      padding: 0 15%;
      font-size: 3rem; } }

.arrow-scroll__btn {
  fill: #fff;
  stroke: #fff;
  display: block;
  width: 1.81rem;
  height: .94rem;
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.menu__hamb {
  margin: 0 2rem;
  position: relative;
  width: 1.5rem;
  height: 2rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .menu__hamb {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer; } }

.menu__hamb-button {
  cursor: pointer; }

.menu__hamb-lines,
.menu__hamb-lines::after,
.menu__hamb-lines::before {
  position: absolute;
  height: .31rem;
  width: 1.87rem;
  background: #fff;
  border-radius: .12rem; }

.menu__hamb-lines {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer; }

.menu__hamb-lines::after {
  content: '';
  top: -.75rem;
  cursor: pointer; }

.menu__hamb-lines::before {
  content: '';
  top: .75rem;
  cursor: pointer; }

.menu__section-hover {
  position: absolute;
  background: #303334;
  margin: 0 0%;
  padding: 0 0;
  opacity: 0.99;
  width: 100%;
  height: 100%;
  display: none; }

.menu-hover-logo {
  position: absolute;
  top: 4%;
  left: 5%; }

.menu__hover-line,
.menu__hover-line::after,
.menu__hover-line::before {
  position: absolute;
  height: .31rem;
  width: 1.87rem;
  background: #fff;
  border-radius: .12rem;
  cursor: pointer; }

.menu__hover-line {
  top: 7%;
  left: 92%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: transparent;
  cursor: pointer; }

.menu__hover-line::after {
  content: '';
  top: -.75rem; }

.menu__hover-line::before {
  content: '';
  top: .75rem; }

.menu__hover-line::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu__hover-line::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.menu__m-nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__list-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.nav__link-hover {
  text-decoration: none;
  color: #fff;
  font-family: Ubuntu;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer; }
  @media screen and (max-width: 480px) {
    .nav__link-hover {
      font-size: 1rem; } }

.nav__item-hover:after {
  content: "";
  display: block;
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  background: #fff;
  margin: .5rem auto; }

.nav__item-hover:last-child:after {
  content: "";
  display: none; }

.section--block-two {
  background: url(../../img/bg_best.png) center center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%; }

.container__block-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.block-two__title {
  text-align: center center;
  font-family: gagalin-regular;
  font-size: 4.5rem;
  text-transform: uppercase;
  color: #2f3234;
  margin-bottom: 3.44rem; }
  @media screen and (max-width: 480px) {
    .block-two__title {
      margin-bottom: 0%;
      font-size: 3.5rem; } }

.content__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  @media screen and (max-width: 480px) {
    .content__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.content__list-section {
  width: calc(100%/3);
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 2.12rem;
  margin-bottom: 2.19rem; }
  @media screen and (max-width: 480px) {
    .content__list-section {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 100%;
      margin: 0 0 2rem 0; } }

.list-section__meat {
  padding-bottom: .94rem;
  width: 6.06rem;
  height: 5.56rem;
  fill: #e25028; }
  @media screen and (max-width: 480px) {
    .list-section__meat {
      width: 6.06rem;
      height: 5.56rem;
      margin-right: 1rem; } }

.list-section__hand {
  padding-bottom: .94rem;
  width: 4.56rem;
  height: 5.31rem;
  fill: #f8b43a; }
  @media screen and (max-width: 480px) {
    .list-section__hand {
      width: 9rem;
      height: 5.56rem;
      margin-right: 1rem; } }

.list-section__natural {
  padding-bottom: .94rem;
  width: 5.5rem;
  height: 4.69rem;
  fill: #8ac03e; }
  @media screen and (max-width: 480px) {
    .list-section__natural {
      width: 6.06rem;
      height: 5.56rem;
      margin-right: 1rem; } }

.content__list-section:last-child {
  margin-right: 0; }

@media screen and (max-width: 480px) {
  .content__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; } }

.content__text h1 {
  color: #2f3234;
  font-family: Lifehack;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.76rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .content__text h1 {
      font-size: 1.3rem;
      text-align: left; } }

.content__text p {
  opacity: 0.8;
  color: #2f3234;
  font-family: Ubuntu-regular;
  font-size: .88rem;
  font-weight: 300;
  line-height: 1.5rem; }

.burgers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-size: cover;
  position: relative;
  height: 100vh; }

.container__burgers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.arrow-scroll__btn-left {
  fill: #fff;
  stroke: #fff;
  display: block;
  width: 1.81rem;
  height: .94rem;
  position: absolute;
  left: 5%;
  top: 50%;
  -webkit-transform: rotate(90deg) translateY(-50%);
  -ms-transform: rotate(90deg) translateY(-50%);
  transform: rotate(90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0; }

.arrow-scroll__btn-right {
  fill: #fff;
  stroke: #fff;
  display: block;
  width: 1.81rem;
  height: .94rem;
  position: absolute;
  left: 95%;
  top: 53.4%;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0; }

.section__slider {
  padding: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .section__slider {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 5%; } }
  @media screen and (max-width: 480px) {
    .section__slider {
      padding: 0 0; } }

.section__slider-left {
  padding: 0 0;
  position: relative; }
  @media screen and (max-width: 768px) {
    .section__slider-left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .section__slider-left {
      max-width: 80%; } }

@media screen and (max-width: 768px) {
  .section__slider-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 8%; } }

@media screen and (max-width: 480px) {
  .section__slider-right {
    padding: 0 0; } }

@media screen and (max-width: 768px) {
  .section__picture {
    text-align: center; } }

@media screen and (max-width: 768px) {
  .section__picture-box {
    text-align: center;
    max-width: 100%; } }

@media screen and (max-width: 480px) {
  .section__picture-box {
    max-width: 87%; } }

.section__title {
  color: #ffffff;
  font-family: gagalin-regular;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 4rem; }
  @media screen and (max-width: 768px) {
    .section__title {
      font-size: 3rem;
      padding: 0 5%;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .section__title {
      font-size: 3rem;
      line-height: 3.5rem;
      padding: 0 0%; } }

.section__text-burger {
  color: #ffffff;
  font-family: ubuntu-bold;
  font-size: .87rem;
  font-weight: 300;
  line-height: 1.5rem; }
  @media screen and (max-width: 768px) {
    .section__text-burger {
      text-align: center;
      margin: 5% 0; } }
  @media screen and (max-width: 480px) {
    .section__text-burger {
      margin: 0 0; } }

.section__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #e35028;
  font-family: gagalin-regular;
  font-size: 1.87rem;
  font-weight: 400;
  line-height: 1.75rem; }

.section__price h1 {
  padding: 0 1rem 1.5rem 0; }

.btn-price {
  width: 6.06rem;
  height: 2.19rem;
  background-color: #e45028;
  border-radius: .31rem;
  color: #ffffff;
  font-family: ubuntu-regular;
  font-size: .81rem;
  font-weight: 500;
  line-height: 1.88rem;
  text-transform: uppercase;
  margin-left: 2rem; }

.section__kkal {
  width: 6rem;
  height: 6.5rem;
  top: -3.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .section__kkal {
      position: absolute;
      left: 85%;
      top: 5%; } }
  @media screen and (max-width: 480px) {
    .section__kkal {
      top: 10%; } }

.section__kkal p {
  opacity: 0.5;
  color: #ffffff;
  font-family: gagalin-regular;
  font-size: .87rem;
  font-weight: 400;
  line-height: 1.5rem; }

.section__kkal-pic {
  fill: #fff;
  stroke: #ffffff;
  width: 3.75rem;
  height: 3.75rem; }

.section__kkal-number {
  position: relative;
  top: 40%; }

.section__ingred {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 2.5rem;
  width: 5rem;
  height: 5rem;
  background: #f08c33;
  border-radius: .31rem;
  cursor: pointer; }
  @media screen and (max-width: 480px) {
    .section__ingred {
      top: 2.75rem;
      left: -2rem; } }
  .section__ingred:hover .section__ingred-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: .31rem .31rem;
    background: #fff9f0;
    opacity: .8; }

.section__ingred-list {
  position: absolute;
  left: 5rem;
  top: 0;
  border-radius: .31rem;
  display: none; }

.section__ingred-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #2f3234;
  font-family: ubuntu-regular;
  font-size: .87rem;
  font-weight: 500;
  line-height: 1.5rem;
  width: 15rem; }

.section__ingred-pic {
  fill: white;
  stroke: #fff;
  width: 2.75rem;
  height: 2.75rem; }

.section__ingred-title {
  color: #ffffff;
  font-family: gagalin-regular;
  font-size: .87rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: center; }

.section__ingred-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.section__ingred-text-right {
  margin-right: 5%; }

.section_ingred-beef {
  fill: #e25028;
  width: 3rem;
  height: 2.68rem;
  margin: 0 1rem; }

.section_ingred-buns {
  fill: #f8b43a;
  width: 3rem;
  height: 2.68rem;
  margin: 0 1rem; }

.section_ingred-salad {
  fill: #8ac03e;
  width: 3rem;
  height: 2.68rem;
  margin: 0 1rem; }

.section_ingred-sauce {
  fill: #e25028;
  width: 3rem;
  height: 2.68rem;
  margin: 0 1rem; }

.section_ingred-cucumber {
  fill: #8ac03e;
  width: 3rem;
  height: 2.68rem;
  margin: 0 1rem; }

.section_ingred-cheese {
  fill: #f8b43a;
  width: 3rem;
  height: 2.68rem;
  margin: 0 1rem; }

.section--team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: url(../../img/bg_team.png) center center no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; }

.team__block-right {
  background: #313436;
  opacity: .95;
  position: absolute;
  width: 50%;
  height: 100vh; }
  @media screen and (max-width: 768px) {
    .team__block-right {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.team__block-in {
  padding-top: 7.19rem;
  padding-right: 6rem;
  padding-bottom: 8,75rem;
  padding-left: 6rem; }
  @media screen and (max-width: 768px) {
    .team__block-in {
      padding: auto 1rem;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .team__block-in {
      padding: 0 5%; } }

@media screen and (max-width: 768px) {
  .team__member {
    text-align: center; } }

.team__title {
  color: #f9b43b;
  font-family: gagalin-regular;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 4rem;
  margin: 0 0 3.13rem 0; }
  @media screen and (max-width: 480px) {
    .team__title {
      margin: 0 0; } }

.team__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  opacity: 0.92; }
  @media screen and (max-width: 768px) {
    .team__name {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.team__name h2 {
  color: #ffffff;
  font-family: gagalin-regular;
  font-size: .88rem;
  font-weight: 400;
  line-height: 1.76rem; }

.team__triangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-top-width: .44rem;
  border-top-color: #f9b43b;
  border-bottom-width: 0;
  margin: .63rem .56rem 0 0;
  cursor: pointer; }

.team__hover-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 2.12rem;
  overflow: hidden;
  height: 0; }
  @media screen and (max-width: 768px) {
    .team__hover-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; } }

.team__hover-block--active {
  color: #f9b43b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12.5rem; }

.team__pic {
  border-radius: 50%;
  margin: auto 1.25rem; }
  @media screen and (max-width: 768px) {
    .team__pic {
      margin: 0 auto; } }

.team__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.team__text h3 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #ffffff;
  font-family: ubuntu-bold;
  font-weight: 700;
  font-size: .88rem;
  line-height: 1.5rem; }

.team__text > p {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  color: #ffffff;
  font-family: ubuntu-light;
  font-size: .75rem;
  font-weight: 300; }

.section--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: url(../../img/bg_menu.png) center center no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; }

.menu__title {
  color: #ffffff;
  font-family: gagalin-regular;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 4rem;
  position: absolute;
  top: 10%;
  left: 10%; }
  @media screen and (max-width: 480px) {
    .menu__title {
      font-size: 3.5rem; } }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu__block.active .trigger__text {
    color: #ecad38; }

.menu__trigger {
  width: 5rem;
  display: block;
  height: 100%;
  position: relative; }
  @media screen and (max-width: 480px) {
    .menu__trigger {
      width: 3.8rem; } }

.trigger__text {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 100%;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  white-space: nowrap;
  margin-top: -1.25rem;
  color: #ffffff;
  font-family: gagalin-regular;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 4rem;
  padding-left: 1.25rem; }

.menu__content {
  height: 100%;
  background: rgba(47, 50, 52, 0.8);
  width: 0;
  overflow: hidden; }

.menu__text {
  font-size: .88rem;
  color: #ffffff;
  padding: 3.75rem 1.88rem;
  display: none; }

.menu__content-act {
  width: 34.38rem; }
  @media screen and (max-width: 480px) {
    .menu__content-act {
      width: 0rem; } }

.menu__text-act {
  display: block; }

.menu__pic {
  height: 100%;
  width: 100%;
  position: relative; }

.section--reviews {
  height: 100vh; }

.reviews {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__block {
  width: 25%;
  height: 50%;
  background: center center / cover no-repeat;
  list-style: none;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .reviews__block:hover .reviews__block-hover {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .reviews__block {
      width: 50%;
      height: 25%; } }

.reviews__block-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(68, 70, 70, 0.5);
  color: #fff;
  padding: 3.13rem 1.19rem 1.19rem 1.19rem;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }
  @media screen and (max-width: 768px) {
    .reviews__block-hover {
      padding: 1rem 1rem 1rem 1rem;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .reviews__block-hover {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.reviews__button-phone {
  border-style: none;
  text-transform: uppercase;
  border-radius: .44rem;
  background: #2f3234;
  color: #fff;
  padding: .94rem;
  font-family: ubuntu-regular;
  font-size: .6rem;
  display: none; }
  @media screen and (max-width: 480px) {
    .reviews__button-phone {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.reviews__button {
  border-style: none;
  text-transform: uppercase;
  border-radius: .44rem;
  background: #2f3234;
  color: #fff;
  padding: .94rem;
  font-family: ubuntu-regular; }
  @media screen and (max-width: 480px) {
    .reviews__button {
      display: none; } }

.reviews__text {
  font-family: ubuntu-regular;
  line-height: 1.8rem;
  margin-bottom: 1.25rem;
  font-size: .88rem; }
  @media screen and (max-width: 768px) {
    .reviews__text {
      margin-bottom: .4rem; } }
  @media screen and (max-width: 480px) {
    .reviews__text {
      display: none; } }

.reviews__title {
  font-family: gagalin-regular;
  margin-bottom: 1.88rem;
  font-size: 1.06rem; }

.work {
  background: url(../../img/bg_work.png) center center no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; }

.form {
  background: url(../../img/bg_form.png) center center no-repeat;
  background-size: cover;
  height: 100vh; }

.form__column {
  margin-right: 2.5rem; }
  .form__column:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__column {
      margin-right: 0; } }

.container__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.form__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 17%; } }
  @media screen and (max-width: 480px) {
    .form__elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 1rem; } }

.form__column {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 480px) {
  .form__row-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media screen and (max-width: 480px) {
  .form__block-loc:nth-child(3) {
    margin-right: 0; } }

@media screen and (max-width: 480px) {
  .form__block-end {
    display: none; } }

.title__form {
  color: #f9b43b;
  font-family: gagalin-regular;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 4rem;
  margin-bottom: 3.13rem; }
  @media screen and (max-width: 480px) {
    .title__form {
      margin-bottom: 3%;
      text-align: center; } }

.form__input {
  width: 100%;
  background: #fff;
  border-radius: .19rem;
  border: none;
  padding: .32rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.form__block-title {
  color: #fff;
  font-family: ubuntu-regular;
  font-size: .88rem;
  font-weight: 300;
  line-height: 1.5rem; }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__block-area {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

textarea {
  max-width: 100%;
  height: 50%;
  padding: .93rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.radio__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .radio__section {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0 5%; } }
  @media screen and (max-width: 480px) {
    .radio__section {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0 0; } }

.radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  margin: 0 1.25rem 1.56rem 0; }
  @media screen and (max-width: 480px) {
    .radio {
      margin: 0 0.5rem 0 0; } }

.radio__input {
  display: none;
  margin: 0; }

.radio__input ~ .radio__block {
  color: #fafafa; }

.radio__input:checked ~ .radio__check {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white));
  background-image: -webkit-linear-gradient(white);
  background-image: -o-linear-gradient(white);
  background-image: linear-gradient(white); }

.radio__check {
  position: relative;
  height: .94rem;
  width: .94rem;
  margin-right: .44rem;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white));
  background-image: -webkit-linear-gradient(white);
  background-image: -o-linear-gradient(white);
  background-image: linear-gradient(white); }

.radio__check-circle {
  display: none; }

.radio__input:checked ~ .radio__check .radio__check-circle {
  display: block;
  width: .44rem;
  height: .44rem;
  background-color: #fa0000;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.radio__block {
  color: #fafafa;
  font-family: ubuntu-regular;
  font-size: .88rem;
  font-weight: 300;
  line-height: 1.5rem; }

@media screen and (max-width: 768px) {
  .button__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media screen and (max-width: 480px) {
  .button__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.btn {
  width: 6.06rem;
  height: 2.19rem;
  background-color: #e45028;
  border-radius: .31rem;
  color: #ffffff;
  font-family: ubuntu-regular;
  font-size: .81rem;
  font-weight: 500;
  line-height: 1.88rem;
  text-transform: uppercase;
  margin-right: .63rem; }

.res {
  color: #ffffff;
  font-family: ubuntu-regular;
  font-size: .88rem;
  font-weight: 300;
  line-height: 1.5rem; }

.checkbox {
  cursor: pointer;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fafafa;
  width: 0.94rem;
  height: 0.94rem;
  margin-right: .5rem; }

.checkbox__input {
  position: absolute;
  visibility: hidden; }

.checkbox__mark {
  display: inline-block;
  position: relative;
  width: .94rem;
  height: .94rem;
  vertical-align: middle;
  margin-right: .2rem;
  border-radius: .1rem; }

.checkbox__content {
  vertical-align: middle;
  color: #fafafa;
  font-family: ubuntu-regular;
  font-size: .88rem;
  font-weight: 300;
  line-height: 1.5rem; }

.checkbox__input:checked + .checkbox__mark::after {
  content: '';
  position: absolute;
  left: 30%;
  top: -20%;
  width: 0.25rem;
  height: 0.4rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 0.1rem solid #e45028;
  border-top-color: transparent;
  border-left-color: transparent; }

.contacts {
  background: url(../../img/bg_map.png) center center no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin: 0 0; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url(../../img/bg_footer.png) center no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  margin-bottom: 0; }
  @media screen and (max-width: 480px) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 20%; } }

.footer__phone {
  width: .75rem;
  height: .69rem;
  fill: #e25028; }

@media screen and (max-width: 480px) {
  .footer__tel {
    text-align: center; } }

.footer__contact-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%; }

.footer__contacts-tel h3 {
  text-decoration: none;
  width: 17.06rem;
  height: 2.38rem;
  color: #ffffff;
  font-style: normal;
  font-family: ubuntu-regular;
  font-size: .88rem;
  font-weight: 300;
  line-height: 1.5rem; }

.contacts__phone {
  text-decoration: none;
  font-style: normal;
  color: #e25028;
  font-family: ubuntu-bold;
  font-weight: 700; }

.footer-contacts-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  width: 50%; }
  @media screen and (max-width: 480px) {
    .footer-contacts-soc {
      margin-top: 1.5rem;
      padding-right: 2rem; } }

.footer__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.social__item {
  margin-right: 1.25rem;
  cursor: pointer; }
  .social__item:last-child {
    margin-right: 0; }

.social-vk {
  fill: grey;
  width: 2.1rem;
  height: .95rem;
  opacity: 0.3; }
  .social-vk:hover {
    background: #ffffff;
    fill: black; }

.social-fb {
  fill: grey;
  width: 1.25rem;
  height: 1.25rem;
  opacity: 0.3; }
  .social-fb:hover {
    background: #ffffff;
    fill: black; }

.social-inst {
  fill: grey;
  width: 1.25rem;
  height: 1.25rem;
  opacity: 0.3; }
  .social-inst:hover {
    background: #ffffff;
    fill: black; }

.social-twitter {
  fill: grey;
  width: 1.25rem;
  height: 1rem;
  opacity: 0.3; }
  .social-twitter:hover {
    background: #ffffff;
    fill: black; }

.fixed-menu {
  position: fixed;
  top: 5.81rem;
  right: 3.31rem;
  z-index: 100; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }
  @media screen and (max-width: 480px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__item {
  margin-bottom: .19rem; }
  .fixed-menu__item:last-child {
    margin-bottom: 0; }
  .fixed-menu__item--active .fixed-menu__dot {
    border-color: #ffffff; }

.fixed-menu__dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative; }
  .fixed-menu__dot:hover {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #ffffff;
    position: relative; }
  .fixed-menu__dot:before {
    content: "";
    width: .31rem;
    height: .31rem;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

html {
  height: 100%;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container {
  max-width: 58.75rem;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .container {
      width: 100%; } }

ul {
  margin: 0;
  padding: 0; }

ul > li {
  list-style: none; }

button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit; }

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

@font-face {
  font-family: ubuntu-regular;
  src: url(./../../fonts/Ubuntu-Regular.woff);
  font-weight: normal;
  font-size: normal; }

@font-face {
  font-family: gagalin-regular;
  src: url(./../../fonts/Gagalin-Regular.woff);
  font-weight: normal;
  font-size: normal; }

@font-face {
  font-family: lifehack;
  src: url(./../../fonts/Lifehack-Medium.woff);
  font-weight: normal;
  font-size: normal; }

@font-face {
  font-family: ubuntu-bold;
  src: url(./../../fonts/Ubuntu-B.woff);
  font-weight: normal;
  font-size: normal; }

@font-face {
  font-family: ubuntu-light;
  src: url(./../../fonts/Ubuntu-Light.woff);
  font-weight: normal;
  font-size: normal; }

@font-face {
  font-family: ubuntu-medium;
  src: url(./../../fonts/Ubuntu-Medium.woff);
  font-weight: normal;
  font-size: normal; }
