.best {
    position: relative;
    background: url(./../../img/bg_best.png) no-repeat center center;
    background-size: cover;
    height: 649px;
    margin: 0 auto;
}

.best__mask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.best__heading-text {
    margin: 0 auto;
}

.best__quality {
    display: flex;
    justify-content: center;
    margin: 200px auto 0;
}

.quality__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-right: 20px;
}


