.section__block {
   background: url(../../img/bg_texture.png) center center no-repeat;
   background-size: cover;
   position: relative;
   height: 100vh;
}

.block1__leftside-splash {
   position: relative;
   padding: 13px 0px 0px 17px;
}

.block1__leftside {
   position: relative;
   margin-right: 13px;
}

.block1__leftside-burger {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 53px 0px 0px 48px;
}

.content-block1 {
   display: inline-flex;
   align-items: center;
   justify-content: center;
}

.block1__rightside {
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
   flex-direction: column;
  padding-top: 125px;
  padding-left: 0px;
}

.block1__rightside-title {
   color: #f9b43b;
   font-family: gagalin-regular;
   text-transform: uppercase;
   font-size: 72px;
   letter-spacing: -0.53px;
   margin-bottom: 23px;
}

.block1__rightside-text {
   color: #fff;
   font-size: 65px;
   font-family: lifehack;
   letter-spacing: -1.63px;
   line-height: 90%;
   padding-top: 5px;
}

.arrow-scroll__btn {
   background: url(./../../img/arrow-scroll.png)center center no-repeat;
   display: block;
   width: 50px;
   height: 50px;
   position: absolute;
   bottom: 40px;
   left: 50%;
   transform: translateX(-50%);
}