.section--block {
   background: url(../../img/bg_texture.png) center center no-repeat;
   background-size: cover;
   position: relative;
   height: 100vh;
}

.block1__leftside-splash {
   position: relative;
   padding: .81rem 0rem 0rem 1.06rem;
}

.block1__leftside {
   position: relative;
   margin-right: .81rem;
}

.block1__leftside-burger {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 3.31rem 0rem 0rem 3rem;
}

.content-block {
   display: inline-flex;
   align-items: center;
   justify-content: center;
}

.block1__rightside {
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
   flex-direction: column;
   padding-top: 7.81rem;
   padding-left: 0rem;
}

.block1__rightside-title {
   color: #f9b43b;
   font-family: gagalin-regular;
   text-transform: uppercase;
   font-size: 4.5rem;
   letter-spacing: -0.03rem;
   margin-bottom: 1.43rem;
}

.block1__rightside-text {
   color: #fff;
   font-size: 4.06rem;
   font-family: lifehack;
   letter-spacing: -.1rem;
   line-height: 90%;
   padding-top: 0.31rem;
}

.arrow-scroll__btn {
   fill: #fff;
   stroke: #fff;
   display: block;
   width: 1.81rem;
   height: .94rem;
   position: absolute;
   bottom: 2.5rem;
   left: 50%;
   transform: translateX(-50%);
}