.burgers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
}

// slider style
.slider {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: flex-start;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 0;
}

.items {
    display: flex;
    position: relative;
    width: 100%;
}

.section__slider-one 
.section__slider-two 
.section__slider-three 
.section__slider-four
.section__slider-five 
{
    padding: 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    // box-sizing: border-box;
    // overflow: hidden;

    @include tablets {
        flex-direction: column;
        padding: 0 5%;
    }

    @include phone {
        padding: 0 0;

    }
}



// end slider stule

.section__slider-left {
    padding: 0 0;
    position: relative;

    @include tablets {
        display: flex;
        flex-direction: column;
    }

    @include phone {
        max-width: 80%;
    }
}

.section__slider-right {

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 8%;
    }
    
    @include phone {
        padding: 0 0;
    }
}

.section__picture {
    @include tablets {
        text-align: center;
    }
}

.section__picture-box {

    @include tablets {
        text-align: center;
        max-width: 100%;
    }

    @include phone {
        max-width: 87%;
    }
}

.section__title {
    color: #ffffff;
    font-family: gagalin-regular;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 4rem;

    @include tablets {
        font-size: 3rem;
        padding: 0 5%;
        text-align: center;
    }

    @include phone {
        font-size: 3rem;
        line-height: 3.5rem;
        padding: 0 0%;
    }
}

.section__text-burger {
    color: #ffffff;
    font-family: ubuntu-bold;
    font-size: .87rem;
    font-weight: 300;
    line-height: 1.5rem;

    @include tablets {
        text-align: center;
        margin: 5% 0;
    }

    @include phone {
        margin: 0 0;
    }
}

.section__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #e35028;
    font-family: gagalin-regular;
    font-size: 1.87rem;
    font-weight: 400;
    line-height: 1.75rem;
}

.section__price h1 {
    padding: 0 1rem 1.5rem 0;
}

.btn-price {
    width: 6.06rem;
    height: 2.19rem;
    background-color: #e45028;
    border-radius: .31rem;
    color: #ffffff;
    font-family: ubuntu-regular;
    font-size: .81rem;
    font-weight: 500;
    line-height: 1.88rem;
    text-transform: uppercase;
    margin-left: 2rem;
    cursor: pointer;
}

.section__kkal {
    width: 6rem;
    height: 6.5rem;
    top: -3.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablets {
        position: absolute;
        left: 85%;
        top: 5%;
    }

    @include phone {
        top: 10%;
    }
}

.section__kkal p {
    opacity: 0.5;
    color: #ffffff;
    font-family: gagalin-regular;
    font-size: .87rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.section__kkal-pic {
    fill: #fff;
    stroke: #ffffff;
    width: 3.75rem;
    height: 3.75rem;
}

.section__kkal-number {
    position: relative;
    top: 40%;
}

// состав

.section__ingred {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 2.5rem;
    width: 5rem;
    height: 5rem;
    background: #f08c33;
    border-radius: .31rem;
    cursor: pointer;

    @include phone {
        top: 2.75rem;
        left: -2rem;
    }

    &:hover .section__ingred-list {
        display: flex;
        flex-direction: column;
        padding: .31rem .31rem;
        background: #fff9f0;
        opacity: .8;
    }
}

.section__ingred-list {
    position: absolute;
    left: 5rem;
    top: 0;
    border-radius: .31rem;
    display: none;
}

.section__ingred-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #2f3234;
    font-family: ubuntu-regular;
    font-size: .87rem;
    font-weight: 500;
    line-height: 1.5rem;
    width: 15rem;
}

.section__ingred-pic {
    fill: white;
    stroke: #fff;
    width: 2.75rem;
    height: 2.75rem;
}

.section__ingred-title {
    color: #ffffff;
    font-family: gagalin-regular;
    font-size: .87rem;
    font-weight: 400;
    line-height: 1.75rem;
    text-align: center;
}

.section__ingred-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.section__ingred-text-right {
    margin-right: 5%;
}


// картинки в составе

.section_ingred-beef {
    fill: #e25028;
    width: 3rem;
    height: 2.68rem;
    margin: 0 1rem;
}

.section_ingred-buns {
    fill: #f8b43a;
    width: 3rem;
    height: 2.68rem;
    margin: 0 1rem;
}

.section_ingred-salad {
    fill: #8ac03e;
    width: 3rem;
    height: 2.68rem;
    margin: 0 1rem;
}

.section_ingred-sauce {
    fill: #e25028;
    width: 3rem;
    height: 2.68rem;
    margin: 0 1rem;
}

.section_ingred-cucumber {
    fill: #8ac03e;
    width: 3rem;
    height: 2.68rem;
    margin: 0 1rem;
}

.section_ingred-cheese {
    fill: #f8b43a;
    width: 3rem;
    height: 2.68rem;
    margin: 0 1rem;
}

.arrow-scroll__btn-left {
    fill: #fff;
    stroke: #fff;
    display: block;
    width: 1.81rem;
    height: .94rem;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: rotate(90deg) translateY(-50%);
    transform-origin: 0 0;
    cursor: pointer;
}

.arrow-scroll__btn-right {
    fill: #fff;
    stroke: #fff;
    display: block;
    width: 1.81rem;
    height: .94rem;
    position: absolute;
    left: 95%;
    top: 53.4%;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    cursor: pointer;
}