.contacts {
    background: url(../../img/bg_map.png) center center no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    margin: 0 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../img/bg_footer.png) center no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    margin-bottom: 0;

    @include phone {
        flex-direction: column;
        height: 20%;
    }
}

.footer__phone {
    width: .75rem;
    height: .69rem;
    fill: #e25028;
}

.footer__tel {
    @include phone {
       text-align: center;
    }
}

.footer__contact-tel {
    display: flex;
    width: 50%;
}

.footer__contacts-tel h3 {
    text-decoration: none;
    width: 17.06rem;
    height: 2.38rem;
    color: #ffffff;
    font-style: normal;
    font-family: ubuntu-regular;
    font-size: .88rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.contacts__phone {
    text-decoration: none;
    font-style: normal;
    color: #e25028;
    font-family: ubuntu-bold;
    font-weight: 700;

}

.footer-contacts-soc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    width: 50%;

    @include phone {
        margin-top: 1.5rem;
        padding-right: 2rem;
    }
}

.footer__social {
    display: inline-flex;
    align-items: center;
}

.social__item {
    margin-right: 1.25rem;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }
}


.social-vk {
    fill: grey;
    width: 2.1rem;
    height: .95rem;
    opacity: 0.3;
    &:hover {
        background: #ffffff;
        fill: black;
    }
}

.social-fb {
    fill: grey;
    width: 1.25rem;
    height: 1.25rem;
    opacity: 0.3;
    &:hover {
        background: #ffffff;
        fill: black;
    }
}

.social-inst {
    fill: grey;
    width: 1.25rem;
    height: 1.25rem;
    opacity: 0.3;
    &:hover {
        background: #ffffff;
        fill: black;
    }
}

.social-twitter {
    fill: grey;
    width: 1.25rem;
    height: 1rem;
    opacity: 0.3;
    &:hover {
        background: #ffffff;
        fill: black;
    }
}