.contacts {
    background: url(../../img/bg_map.png) center center no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    margin: 0 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../img/bg_footer.png) center no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    margin-bottom: 0;
}

.footer__phone {
    width: 12px;
    height: 11px;
    fill: #e25028;
}

.footer__contact-tel {
    display: flex;
    width: 50%;
}

.footer-contacts-soc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    width: 50%;
}

.footer__social {
    display: inline-flex;
    align-items: center;
}

.social__item {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.footer__contacts-tel h3 {
    text-decoration: none;
    width: 273px;
    height: 38px;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.contacts__phone {
    text-decoration: none;
    color: #e25028;
    font-family: "Ubuntu - Bold";
    font-weight: 700;
}

.social__vk {
    fill: grey;
    width: 23px;
    height: 13px;
    opacity: 0.3;
    &:hover {
        background: #ffffff;
        fill: black;
    }
}

.social__fb {
    fill: grey;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    &:hover {
        background: #ffffff;
        fill: black;
    }
}

.social__inst {
    fill: grey;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    &:hover {
        background: #ffffff;
        fill: black;
    }
}

.social__twitter {
    fill: grey;
    width: 20px;
    height: 16px;
    opacity: 0.3;
    &:hover {
        background: #ffffff;
        fill: black;
    }
}