.fixed-menu {
  position: fixed;
  top: 93px;
  right: 53px;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 3px;
  &:last-child {
    margin-bottom: 0;
  }
  &--active{
    .fixed-menu__dot {
      border-color: #ffffff;
    }
  }
}
  
.fixed-menu__dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;

  &:hover {
    background: red;
  }

  &:before {
    content: "";
    width: 5px;
    height: 5px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}