.form {
    background: url(../../img/bg_form.png) center center no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title__form {
    color: #f9b43b;
    font-family: Gagalin;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 4rem;
    margin-bottom: 3.13rem;

    @include tablets {
        // text-align: center;
        font-size: 3.5rem;
    }

    @include phone {
        font-size: 3.5rem;
    }
}

.form__elem {
    display: flex;
    flex-direction: row;
    // width: 58.75rem;

    @include tablets {
        flex-direction: column;
        padding: 0 10%;
        max-width: 80%;
        // text-align: center;
    }
}

.form__column-left {
    margin-right: 1.25rem;
    width: 28.75rem;
}

.form__column-right {
    display: flex;
    flex-direction: column;
    // width: 28.75rem;
}

.form__input {
    background: #fff;
    border-radius: .19rem;
    border: none;
    padding: .5rem .63rem;
}

.form__row-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: .63rem;
    margin-bottom: .81rem;

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    margin-bottom: 1.25rem;
}

.form__input-street {
    background: #fff;
    border-radius: .19rem;
    border: none;
    padding: .5rem 8rem;
}

.form__row-location {
    display: flex;
    width: 28.75rem;
}

.form__input-location {
    flex: 1;
    width: 3.56rem;
    background: #fff;
    border-radius: .19rem;
    border: none;
    padding: .5rem 1.25rem;
    margin-right: 1.25rem;
}

.form__input-location:last-child {
    margin-right: none;
}

.form__block-title {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: .88rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.form__input-right {
    background: #fff;
    border-radius: .19rem;
    border: none;
    padding: .5rem .63rem;
    height: 5.63rem;
    width: 27.5rem;

    &--textarea {
        resize: none;
        height: 5.63rem;
    }
}

.form__block-right {
    margin-bottom: .94rem;
}

.radio__section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.25rem;

    @include tablets {
        flex-direction: row;
        justify-content: center
    }
}

.radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin: 0 1.25rem 1.56rem 0;
}

.radio__input {
    display: none;
    margin: 0;
}

.radio__input~.radio__block {
    color: rgb(250, 250, 250);
}

.radio__input:checked~.radio__check {
    background-image: linear-gradient(white);
}

.radio__check {
    position: relative;
    height: .94rem;
    width: .94rem;
    margin-right: .44rem;
    border-radius: 50%;
    background-image: linear-gradient(white);
}

.radio__check-circle {
    display: none;
}

.radio__input:checked~.radio__check .radio__check-circle {
    display: block;
    width: .44rem;
    height: .44rem;
    background-color: rgb(250, 0, 0);
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio__block {
    color: rgb(250, 250, 250);
    font-family: Ubuntu;
    font-size: .88rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.button__section {
    
    @include tablets {
        display: flex;
        justify-content: center;
    }
}

.btn {
    width: 6.06rem;
    height: 2.19rem;
    background-color: #e45028;
    border-radius: .31rem;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: .81rem;
    font-weight: 500;
    line-height: 1.88rem;
    text-transform: uppercase;
    margin-right: .63rem;
}

.res {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: .88rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.checkbox {
    cursor: pointer;
    padding: 0;
    user-select: none;
    background-color: rgb(250, 250, 250);
    width: 0.94rem;
    height: 0.94rem;
    margin-right: .5rem;
  }
    .checkbox__input {
      position: absolute;
      visibility: hidden;
    }
    .checkbox__mark {
      display: inline-block;
      position: relative;
      width: .94rem;
      height: .94rem;
      vertical-align: middle;
      margin-right: .2rem;
      border-radius: .1rem;
    }
    .checkbox__content {
      vertical-align: middle;
      color: rgb(250, 250, 250);
      font-family: Ubuntu;
      font-size: .88rem;
      font-weight: 300;
      line-height: 1.5rem;
    }
    .checkbox__input:checked + .checkbox__mark {
      &::after {
        content: '';
        position: absolute;
        left: 30%;
        top: -20%;
        width: 0.25rem;
        height: 0.4rem;
        transform: rotate(45deg);
        border: 0.1rem solid #e45028;
        border-top-color: transparent;
        border-left-color: transparent;
      }
    }
  