.form {
    background: url(../../img/bg_form.png) center center no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.container__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__form {
    color: #f9b43b;
    font-family: Gagalin;
    font-size: 72px;
    font-weight: 400;
    line-height: 63.99px;
    margin-bottom: 50px;
}

.form__elem {
    display: flex;
    flex-direction: row;
    width: 940px;
}

.form__column-left {
    margin-right: 20px;
    width: 460px;
}

.form__column-right {
    display: flex;
    flex-direction: column;
    width: 460px;
}

.form__input {
    background: #fff;
    border-radius: 3px;
    border: none;
    padding: 8px 10px;
}

.form__row-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
    margin-bottom: 13px;

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    margin-bottom: 20px;
}

.form__input-street {
    background: #fff;
    border-radius: 3px;
    border: none;
    padding: 8px 128px;
}

.form__row-location {
    display: flex;
    width: 460px;
}

.form__input-location {
    flex: 1;
    width: 57px;
    background: #fff;
    border-radius: 3px;
    border: none;
    padding: 8px 20px;
    margin-right: 20px;
}

.form__input-location:last-child {
    margin-right: none;
}

.form__block-title {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.form__input-right {
    background: #fff;
    border-radius: 3px;
    border: none;
    padding: 8px 10px;
    height: 90px;
    width: 440px;

    &--textarea {
        resize: none;
        height: 90px;
    }
}

.form__block-right {
    margin-bottom: 15px;
}

.radio__section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin: 0 20px 25px 0;
}

.radio__input {
    display: none;
    margin: 0;
}

.radio__input~.radio__block {
    color: rgb(250, 250, 250);
}

.radio__input:checked~.radio__check {
    background-image: linear-gradient(white);
}

.radio__check {
    position: relative;
    height: 15px;
    width: 15px;
    margin-right: 7px;
    border-radius: 50%;
    background-image: linear-gradient(white);
}

.radio__check-circle {
    display: none;
}

.radio__input:checked~.radio__check .radio__check-circle {
    display: block;
    width: 7px;
    height: 7px;
    background-color: rgb(250, 0, 0);
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio__block {
    color: rgb(250, 250, 250);
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.btn {
    width: 97px;
    height: 35px;
    background-color: #e45028;
    border-radius: 5px;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    margin-right: 10px;
}

.res {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.checkbox {
    cursor: pointer;
    padding: 0;
    user-select: none;
    background-color: rgb(250, 250, 250);
    width: 0.937em;
    height: 0.937em;
    margin-right: 8px;
  }
    .checkbox__input {
      position: absolute;
      visibility: hidden;
    }
    .checkbox__mark {
      display: inline-block;
      position: relative;
      width: 0.937em;
      height: 0.937em;
      vertical-align: middle;
      margin-right: 0.2em;
      border-radius: 0.1em;
    }
    .checkbox__content {
      vertical-align: middle;
      color: rgb(250, 250, 250);
      font-family: Ubuntu;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
    }
    .checkbox__input:checked + .checkbox__mark {
      &::after {
        content: '';
        position: absolute;
        left: 30%;
        top: -20%;
        width: 0.25em;
        height: 0.4em;
        transform: rotate(45deg);
        border: 0.1em solid #e45028;
        border-top-color: transparent;
        border-left-color: transparent;
      }
    }
  