.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__content {
    display: flex;
    align-items: center;
}

.menu {
    margin-right: 15px;
    text-decoration: none;
}

.menu__block {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menu__list {
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: #fff;
    font-family: Ubuntu;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    &:after {
        content: "";
        width: 4px;
        height: 4px;
        background: #fff;
        border-radius: 50%;
        display: block;
        margin-left: 15px;
    }


    &:last-child {
        margin-right: 0;

        &:after {
            display: none;
        }
    }
}

.menu__link {
    text-decoration: none;
}

.button__block {
    padding: 3px 15px;
    background-color: #e45028;
    font-family: Ubuntu;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 5px;
    border: transparent;
    margin: 30px auto;
    cursor: pointer;
}