.header {
    display: inline-flex;
    width: 100%;
    padding: 12px 0 0px 0;
 }
 
 .header__logo {
   width: 92px;
   height: 69px;
   flex: 1;
 }
 
 .nav {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
 }