.hello__block {
    position: relative;
   background: url(./../../img/hello_background.png) no-repeat center center;
   background-size: cover;
   height: 650px;
}

.hello__mask {
    position: relative;
    background: url(./../../img/texture_.png);
    background-size: cover;
    height: 650px;
}

.ul>li {
    list-style: none;
} 

.button__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 35px;
    background-color: #c1401e;
    border: transparent;
    border-radius: 7px;
    text-transform: uppercase;
    margin: auto 0;
}

.button__text {
    margin: 0 auto;
    color: #ffffff;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 20px;
}

.header__content {
    display: flex;
    justify-content:center;
}

.menu__block {
    display: flex;
    justify-content: space-evenly;
}

.menu__list{
    margin: auto 13px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.menu__list:first-child {
    list-style: none;
}

.content__hello {
    content: "";
    display: flex;
    justify-content: flex-start space-around;
}

.content__mainhello {
    display: flex;
    justify-content: space-around;
}

.content__picture {
    background: url(./../../img/drops_hello.png) center center no-repeat;
    width: 451px;
    // padding: 0 0 -20px 0;
}

.content__burger {
    padding: 45px 0px 0 34px;
}

.content__text {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}



//     width: 406px;
// height: 213px;
// color: #ffffff;
// font-family: Lifehack;
// font-size: 65px;
// font-weight: 500;
// /* Text style for "М, ы делае" */
// color: #f9b43b;
// font-family: Gagalin;
// font-size: 72px;
// font-weight: 400;
// line-height: 85px;
// /* Text style for "натуральны" */
// font-family: "Lifehack Medium";
// font-weight: 500;
// letter-spacing: -1.63px;
// line-height: 85px;
// /* Text style for "бургеры" */
// font-family: "Lifehack Medium";
// font-weight: 500;
// letter-spacing: -1.63px;
// line-height: 60px;

.points {
    display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  color: #ffffff;
}

.points__list {
    color: #ffffff;
    border: circle #ffffff;
}



.scroll__next {
    display: flex;
    justify-content: center;
    margin-top: 95px;
}