.hello__block {
    position: relative;
   background: url(./../../img/hello_background.png) no-repeat center center;
   background-size: cover;
   height: 650px;
}

.hello__mask {
    position: relative;
    background: url(./../../img/texture_.png);
    background-size: cover;
    height: 650px;
}

.ul>li {
    list-style: none;
} 

.hello__fon {
    position: relative;
    width: 100%;
    height: 100%;
}

.button__block {
    width: 97px;
    height: 35px;
    background-color: #c1401e;
    border: transparent;
    border-radius: 3px; 
    margin: auto;
}

.button__text {
    color: #ffffff;
}

.header__content {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.menu__block {
    display: flex;
    justify-content: space;
}

.menu__list{
    margin: auto 13px;
    color: #ffffff;
}

.menu__list:first-child {
    list-style: none;
}

.content__hello {
    content: "";
    display: flex;
    justify-content: flex-start space-around;
}

.points {
    display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.content__mainhello {
    display: flex;
    justify-content: space-around;
}

.content__picture {
    background-image: url(./../../img/drops_hello.png);
}