.container__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1103px;
  height: 650px;
  margin: 0 0; }

ul > li {
  list-style: none; }

.reviews__section {
  width: 25%;
  margin: 0 0; }

.reviews__foto {
  display: block;
  width: 100%;
  margin: 0 0; }
