.section__reviews {
   height: 100vh;
}

.reviews {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
 }
 
 .reviews__block {
    width: 25%;
    height: 50%;
    background: center center / cover no-repeat;
    list-style: none;
    position: relative;
    filter: grayscale(100%);
 
    &:hover {
       .reviews__block-hover {
          opacity: 1;
       }
    }
 }
 
 .reviews__block-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(#444646, .5);
    color: #fff;
    padding: 50px 19px 19px 19px;
    opacity: 0;
    transition: opacity .3s;
 }
 
 .reviews__button {
    border-style: none;
    text-transform: uppercase;
    border-radius: 7px;
    background: #2f3234;
    color: #fff;
    padding: 15px;
    font-family: ubuntu-regular;
 
 }
 
 .reviews__text {
    font-family: ubuntu-regular;
    line-height: 1.8em;
    margin-bottom: 20px;
    font-size: 14px;
 }
 
 .reviews__title {
    font-family: gagalin-regular;
    margin-bottom: 30px;
    font-size: 17px;
 
 }