.work {
    background: url(../../img/bg_work.png) center center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title__work {
    font-family: gagalin-regular;
    font-size: 4.5rem;
    color: #333;
    position: absolute;
    top: 0;
    @include phone {
        font-size: 2.5rem;
        top: 10%;
    }
}

.player__wrapper {
    width: 100%;
    font-size: 0;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
}

.player__start {
    width: rem(50px);
    height: rem(50px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #626262;
    font-family: ubuntu-regular;
    // margin: rem(3px) 0;
    overflow: hidden;
}

.player__controls {
    width: 100%;
    height: rem(50px);
    background-color: #3e3e3e;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    @include phone {
        // display: none;
    }
}

.player__duration {
    color: #626262;
    font-size: .8rem;
}

.player__playback {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#progress::-webkit-progress-bar {
    cursor: pointer;
    border-radius: rem(10px);
    height: rem(5px);
    margin: auto;
}

#progress {
    height: rem(4px);
    width: 90%;
    border-radius: rem(5px);
}

#progress::-webkit-progress-value {
    -webkit-appearance: none;
    cursor: pointer;
    background-color: #626262;
    border-radius: rem(5px);
}

video {
    cursor: pointer;
}

.playback__way {
    -webkit-appearance: none;
    height: rem(4px);
    width: rem(60px);
    border-radius: rem(2px);
    background-color: #626262;
    cursor: pointer;
}

.playback__way::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: rem(15px);
    width: rem(15px);
    border-radius: 50%;
    background-color: #626262;
    cursor: pointer;
}

.player__volume {
    padding: 0 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work__volume {
    fill: #626262;
    height: 3rem;
    width: 3rem;
}

.work__play {
    fill: #fff;
    height: 10rem;
    width: 10rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: display 1s;
}

.play-button {
    fill: #626262;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}

.play-button--pause {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &:after {
        content: '';
        display: inline-block;
        height: 50%;
        width: 20%;
        background-color: #626262;
        border-radius: rem(2px);
    }
    &:before {
        content: '';
        display: inline-block;
        height: 50%;
        width: 20%;
        background-color: #626262;
        border-radius: rem(2px);
    }
}

.work__volume-x {
    color: #fff;
    font-size: 1rem;
    font-family: ubuntu-regular;
    position: absolute;
    left: -25%;
    display: none;
}