.work {
    background: url(../../img/bg_work.png) center center no-repeat;
    background-size: cover;
    position: relative;
    // height: 100vh;
}

.container__work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__work {
    color: #f9b43b;
    font-family: gagalin-regular;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 4rem;
    margin: 0 0 3.13rem 0;
    text-align: center;
}

.controls span {
    display:inline-block;
}
        
.playpause {
    background:#eee;
    color:#333;
    padding:0 5px;
    font-size:12pt;
    text-transform:uppercase;
    width:50px;
}

.progress {
    width:290px;
}
            
.total {
    width:100%;                
    background:#999;
}
            
.buffered {
    background:#ccc;
}
            
.current {
    background:#eee;
    line-height:0;
    height:10px;
}
            
.time {
    color:#999;
    font-size:12pt;
}

.dynamic {
    fill:#333;
    padding:0 5px;
}
            
.dynamic.off {
    fill:#ccc;
}


.section__work-play {
    fill: #f9b43b;
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;

    @include phone {
        left: 45%;
        top: 60%;
        width: 4rem;
        height: 4rem;
    }
}

.section__work-volume {
    fill: #fff;
    width: 1.4rem;
    height: 1.4rem;
}